# Directorios de dependencias de Node
/node_modules

# Directorios de salida (si tus scripts de Node.js generan archivos aqui)
/dist
/build

# Archivos de logs y cache del sistema
npm-debug.log*
yarn-debug.log*
.DS_Store
